.challenge-container {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-bottom: 20px
}

.challenge-card {
  background-color: lightgrey;
  width: 20%;
  min-width: 100px;
  margin: 5px;
  border-radius: 25px;
  border: 1px solid grey;
}

.challenge-card img {
  max-width: 100px;
}