/* body {
  background: blue;
} */

.league-dash-container {
  display: inline-grid;
  width: 95%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.column {
  /* border: 1px solid black; */
}

.col-1 {
  grid-column: span 6;
  max-height: 60vh;
  min-height: 40vh;
  
  /* TEMP STYLES BELOW */
  /* background-color: rgba(95, 158, 160, 0.3); */
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 12px 12px 12px 0px;
  /* border-radius: 25px; */
}

.col-2 {
  grid-column: span 2;
  max-height: 60vh;
  min-height: 40vh;

  /* TEMP STYLES BELOW */
  /* background-color: rgba(136, 132, 216, 0.3); */
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 12px 0px 12px 12px;
  /* border-radius: 25px; */
}

.col-3 {
  grid-column: span 5;
  max-height: 60vh;
  min-height: 40vh;

  /* TEMP STYLES BELOW */
  /* background-color: rgba(136, 132, 216, 0.3); */
  background-color: rgba(255,255,255,0.0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 12px 12px 12px 0px;

  /* border-radius: 25px; */
}

.col-4 {
  grid-column: span 3;
  max-height: 60vh;
  /* TEMP STYLES BELOW */
  /* background-color: rgba(95, 158, 160, 0.3); */
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 12px 0px 12px 12px;
  /* border-radius: 25px; */
}

.col-5 {
  grid-column: span 8;

  /* TEMP STYLES BELOW */
  /* background-color: rgba(136, 132, 216, 0.3); */
  /* background-color: rgba(0,0,0,0.3); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 12px 0px;
  /* border-radius: 25px; */
}