/* body {
  background: blue;
} */

.league-dash-container {
  display: inline-grid;
  width: 95%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.column {
  /* border: 1px solid black; */
}

.col-1 {
  grid-column: span 6;
  height: 40vh;
  /* max-height: 60vh;
  min-height: 40vh; */

  
  /* TEMP STYLES BELOW */
  /* background-color: rgba(95, 158, 160, 0.3); */
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 10px 10px 10px 0px;
  /* border-radius: 25px; */
}

.col-2 {
  grid-column: span 2;
  height: 40vh;
  /* max-height: 60vh;
  min-height: 40vh; */


  /* TEMP STYLES BELOW */
  /* background-color: rgba(136, 132, 216, 0.3); */
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 10px 0px 10px 10px;
  /* border-radius: 25px; */
}

.col-3 {
  grid-column: span 5;
  height: 40vh;
  /* max-height: 60vh;
  min-height: 40vh; */

  
  /* TEMP STYLES BELOW */
  /* background-color: rgba(136, 132, 216, 0.3); */
  background-color: rgba(255,255,255,0.0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 10px 10px 10px 0px;
  
  /* border-radius: 25px; */
}

.col-4 {
  grid-column: span 3;
  height: 40vh;
  /* max-height: 60vh;
  min-height: 40vh; */

  /* TEMP STYLES BELOW */
  /* background-color: rgba(95, 158, 160, 0.3); */
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 10px 0px 10px 10px;
  /* border-radius: 25px; */
}

.col-5 {
  grid-column: span 8;

  /* TEMP STYLES BELOW */
  /* background-color: rgba(136, 132, 216, 0.3); */
  /* background-color: rgba(0,0,0,0.3); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
  /* border-radius: 25px; */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .league-dash-container {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

  .col-1 { grid-area: 1 / 1 / 2 / 2; }
  .col-2 { grid-area: 2 / 1 / 3 / 2; display: none;}
  .col-3 { grid-area: 2 / 1 / 3 / 2; }
  .col-4 { grid-area: 3 / 1 / 4 / 2; }
  .col-5 { grid-area: 4 / 1 / 5 / 2; max-height: 400px; overflow-y: scroll;}
}


