.teammate-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 20px
}

.teammate-card {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 28%;
  min-width: 150px;
  min-height: 250px;
  max-height: 45vh;
  /* height: 100%; */
  /* border-radius: 25px; */
  /* border: 1px solid grey; */
}

.teammate-card img {
  max-width: 100px;
}

.team-container {
  display: inline-grid;
  width: 100%;
  overflow: auto; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.team-col-1 {
  grid-column: span 1;
}

.team-col-2 {
  grid-column: span 12;
}

.team-col-3 {
  grid-column: span 1;
}

.team-left:hover {
  /* background-color: blue; */
  /* height: 100%; */
  background: rgb(159,156,156);
  background: linear-gradient(90deg, rgba(159,156,156,1) 0%, rgba(245,245,245,1) 100%);
  cursor: pointer;
}

.team-right:hover  {
  /* background-color: red; */
  background: rgb(245,245,245);
  background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(159,156,156,1) 100%);
  cursor: pointer;
} 