
.team-container {
  display: inline-grid;
  width: 100%;
  /* overflow: auto;  */
  min-height: 300px;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.team-col-1 {
  /* grid-column: span 14; */
  grid-area: 1 / 1 / 2 / 13; 
  color: var(--main-font-color);
  /* border: 1px solid black; */
}

.team-col-2 {
  /* grid-column: span 1; */
  grid-area: 2 / 1 / 13 / 2; 
  /* border: 1px solid black; */
}

.team-col-3 {
  /* grid-column: span 12; */
  grid-area: 2 / 2 / 13 / 12;
  /* border: 1px solid black; */
}

.team-col-4 {
  /* grid-column: span 1; */
  grid-area: 2 / 12 / 13 / 13;
  /* border: 1px solid black; */
}


.teammate-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  /* overflow: hidden;
  overflow-x: scroll; */
  padding: 20px 0px;
  height: 100%;
}

.teammate-card {
  background-color: var(--teammate-card-bg-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 28%;
  min-width: 110px;
  min-height: 150px;
  /* min-height: 250px; */
  height: 100%;
  color: var(--main-font-color);
  /* font-size: 30px; */
  font-size: 1.1vw
  /* height: 100%; */
  /* border-radius: 25px; */
  /* border: 1px solid grey; */
}

.teammate-card img {
  max-width: 50%;
  max-height: 40%;
}

.teammate-card h5 {
  margin: 0;
}


.team-header {
  background-color: var(--grid-header-bg-color-dash);
  /* margin-bottom: 15px; */
  padding: 10px 0;
  background-color: var(--grid-header-bg-color-dash);
  border-radius: 10px 10px 0 0;
}

.team-header h1 {margin: 0px;}

.team-header h5 {margin: 10px 0 0 0;}


.team-left:hover {
  /* background-color: blue; */
  /* height: 100%; */
  background: rgb(159,156,156);
  background: var(--team-grid-left-dash);
  cursor: pointer;
}

.team-right:hover  {
  /* background-color: red; */
  background: rgb(245,245,245);
  background: var(--team-grid-right-dash);
  cursor: pointer;
} 

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .teammate-card {
    font-size: 1.4vh;
  }

}


.teammate-0 {
  box-shadow: 0px 0px 20px rgba(68, 155, 57, 0.5);
}

.teammate-0 h5 {
  padding: 5px;
  /* background-color: rgba(68, 155, 57, 0.5); */
  background: rgb(68,155,57);
  background: linear-gradient(90deg, rgba(68,155,57,0.2) 0%, rgba(68,155,57,0.5) 50%, rgba(68,155,57,0.2) 100%);
}

.teammate-1 {
  box-shadow: 0px 0px 20px rgba(160, 156, 250, 0.5);
}

.teammate-1 h5 {
  padding: 5px;
  background: rgb(160, 156, 250);
  background: linear-gradient(90deg, rgba(160, 156, 250, 0.2) 0%, rgba(160, 156, 250, 0.5) 50%, rgba(160, 156, 250, 0.2) 100%);
}

.teammate-2 {
  box-shadow: 0px 0px 20px rgba(244, 177, 90, 0.5);
}

.teammate-2 h5 {
  padding: 5px;
  background: rgb(244, 177, 90);
  background: linear-gradient(90deg, rgba(244, 177, 90, 0.2) 0%, rgba(244, 177, 90, 0.5) 50%, rgba(244, 177, 90, 0.2) 100%);
}

.teammate-0:hover {
  box-shadow: 5px 10px 20px rgba(68, 155, 57, 0.5);
  cursor: pointer;
}
.teammate-1:hover {
  box-shadow: 5px 10px 20px rgba(160, 156, 250, 0.5);
  cursor: pointer;
}
.teammate-2:hover {
  box-shadow: 5px 10px 20px rgba(244, 177, 90, 0.5);
  cursor: pointer;
}
